*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 99vh;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
    gap: 0.2rem;
    background-color: rgb(180, 178, 178);
    margin: 0.2rem 0.2rem 0 0.2rem;
}

.box h1{
    color: #fff;
}

.first--box,
.second--box,
.third--box,
.fourth--box
{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 60vh;
    cursor: pointer;
    transition: 0.5s;
}

.first--box{
    width: 25%;
    background-color: #34495e;
    font-size: 1rem;
}

.second--box{
    width: 25%;
    background-color: #e67e22;
    font-size: 1rem;
}

.third--box{
    width: 25%;
    background-color: #34495e;
    font-size: 1rem;
}

.fourth--box{
    width: 25%;
    background-color: #e67e22;
    font-size: 1rem;
}

.box :nth-child(1) h1,
.box :nth-child(2) h1,
.box :nth-child(3) h1,
.box :nth-child(4) h1{
    opacity: 0;
    transition: 0.5s;
}